@font-face {
    font-family: 'Segoe UI';
    src: url(../fonts/segoeuil.ttf);
}
html, body {
    font-family: "Segoe UI", "Arial", "Tahoma", monospace;
    font-size: 24px;
}

.row {
    margin: 0;
}

.modal {
    width: 800px;
    left: 40%;
}

.lightbox-content {
    width: 100%;
}

.lightbox-image {
    width: 50%;
}

.lightbox-image img {
    max-width: 100%;
    max-height: 100%;
}

.lightbox-description {
    width: 50%;
}

.lightbox-close {
    position: absolute;
    left: 95.8%;
    top: -1%;
}

.lightbox-prev {
    top: 50%;
    position: absolute;
    background-image: url('../images/icons/left.png');
    height: 50px;
    width: 50px;
    background-size: contain;
}

.lightbox-next {
    top: 50%;
    position: absolute;
    left: 93%;
    background-image: url('../images/icons/right.png');
    height: 50px;
    width: 50px;
    background-size: contain;
}

html,
body {
    max-width: 100% !important;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: auto;
    width: 100%;
}


/* Style the Image Used to Trigger the Modal */

#myImg {
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}


/* The Modal (background) */

.modal {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    max-height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (Image) */

.modal-content {
    margin: auto;
    display: block;
    max-height: 100%;
    max-width: 100%;
}


/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation - Zoom in the Modal */

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
    .lightbox-prev {
        display: none;
    }
    .lightbox-next {
        display: none;
    }
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.images-holder {
    display: inline-block;
}

.image {
    margin: 1px;
    padding: 0px;
    max-width: 450px;
    max-height: 253px;
    width: auto;
    height: auto;
}

.bolded {
    font-weight: bold;
}

#tag-input {
    width: 160px;
}

#single-image {
    margin-top: 3%;
}

.loader {
	max-width: 100%;
	max-height: 100%;
	background: none;
	box-shadow: none;
}

.loading-text {
	color: white;
	text-align: center;
}

a, a:hover, a:link, a:active, a:visited {
    text-decoration: none;
}

.white-text {
    color: #958D8D;
}

.white-text:hover {
    color: #EDE8E8;
}

.blue-text {
    display: block;
    margin-top: 2%;
    font-size: 1.1em;
    color: #337AB7;
    max-width: 50px;
}

.blue-text:hover {
    color: #71A9D9;
}

.pointer {
    cursor: pointer;
}