<div class="lightbox">
    <div class="lightbox-tiles">
        <span data-ng-repeat="i in images" data-ng-click="displayImage(i)">
            <img data-ng-src="{{source(i)}}" class="image col-xs-12 col-sm-6 col-md-4 col-lg-3" id="myImg">
        </span>
    </div>
    <!-- <div modal="showModal">
        <div class="lightbox-header">
            {{selectedImg.header}}
            <button class="lightbox-close" data-ng-click="showModal=false;">x</button>
        </div>
        <div class="lightbox-content">
            <div class="lightbox-image">
                <button class="lightbox-prev" data-ng-show="hasPrev()" data-ng-click="prev()">prev</button>
                <img data-ng-src={{source(selectedImg)}}>
            </div>
            <div class="lightbox-description">
                {{selectedImg.description}}
                <button class="lightbox-next" data-ng-show="hasNext()" data-ng-click="next()">next</button>
            </div>
        </div>
    </div> -->
    <div class="modal" ng-show="showModal">
        <!-- The Close Button -->
        <span class="close" ng-click="closeModal()">&times;</span>
        <button class="lightbox-prev" data-ng-show="hasPrev()" data-ng-click="prev()">prev</button>
        <!-- Modal Content (The Image) -->
        <img class="modal-content" src="{{selectedImg.src}}">
        <button class="lightbox-next" data-ng-show="hasNext()" data-ng-click="next()">next</button>
        <!-- Modal Caption (Image Text) -->
        <!-- <div id="caption"></div> -->
    </div>
</div>
