<div class="lightbox">
    <div class="lightbox-tiles">
        <div data-ng-repeat="i in images" data-ng-click="displayImage(i)" class="images-holder">
            <img data-ng-src="{{source(i)}}" class="image " id="myImg">
        </div>
    </div>
    <div class="modal" ng-show="showModal">
        <span class="close" ng-click="closeModal()">&times;</span>
        <div class="lightbox-prev" data-ng-show="hasPrev()" data-ng-click="prev()"></div>
        <img class="modal-content" src="{{selectedImg.src}}" alt="{{selectedImg.name}}">
        <div class="lightbox-next" data-ng-show="hasNext()" data-ng-click="next()"></div>
        <div id="caption">
            <div><span class="bolded">Name:</span> {{selectedImg.name}}</div>
            <div><span class="bolded">Url:</span> <a href="http://localhost:3000/#/image/{{selectedImg._id}}">http://localhost:3000/#image/{{selectedImg._id}}</a></div>
            <div><span class="bolded">Tags:</span>
                <span ng-repeat="tag in selectedImg.tags">
                    <span>{{tag.name}}</span>
                    <span ng-show="!$last">,</span>
                </span>
            </div>
            <div>{{images.indexOf(selectedImg) + 1}}/{{images.length}}</div>
        </div>
    </div>
</div>
