doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        title Gallery
        link(href='/javascripts/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        link(href='/javascripts/bower_components/angular-bootstrap/ui-bootstrap-csp.css', rel='stylesheet')
        link(href='/stylesheets/style.css', rel='stylesheet')
    body(ng-app='')
        block content
            #wrap.row
                .modal(ng-show='loading')
                    img.modal-content.loader(src='/images/icons/ajax-loader.gif', alt='loading')
                    .loading-text Loading
                .col-xs-12.col-sm-12.col-md-11.col-lg-10.col-md-offset-1.col-lg-offset-1
                    ui-view
        script(src='/javascripts/bower_components/jquery/dist/jquery.min.js ')
        script(src='/javascripts/bower_components/bootstrap/dist/js/bootstrap.min.js ')
        script(src='/javascripts/bower_components/angular/angular.min.js ')
        script(src='/javascripts/bower_components/angular-ui-router/release/angular-ui-router.min.js ')
        script(src='/javascripts/bower_components/angular-bootstrap/ui-bootstrap.min.js ')
        script(src='/javascripts/bower_components/angular-bootstrap/ui-bootstrap-tpls.js ')
        script(src='/javascripts/bower_components/angular-route/angular-route.min.js ')
        script(src='/javascripts/angularApp.js ')
